<div class="container bg-light text-dark">
  <h1 class="text-center">Featured Events:</h1>
  <div class="row my-3 p-2">
    <% @events.each do |e| %>
      <div class="card col-lg-3" style="width: 18rem;">
        <% if e.photo.image? %>
          <%= image_tag e.photo, class: "card-img-top" %>
        <% end %>
        <div class="card-body">
          <h4 class="card-title"><%= e.title %></h5>
          <p class="card-text"><%= e.details %></p>
          <a href="https://www.youtube.com/" class="btn btn-primary">Go wacky</a>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Start of Calendar -->
  <%= month_calendar do |date| %>
    <%= date.day %>
  <% end %>
  <!-- End of calendar -->
</div>